.section-one-things {
  background-color: #A52F76;
}
.section-two-things {
  background-color: #0B1119; 
  border-top-left-radius: 100px;
  border-top-right-radius: 100px; 
  padding-top: 5%;
}
.section-three-things {
  background-color: #121820; 
  border-top-left-radius: 100px; /* Adjust the radius as needed */
  border-top-right-radius: 100px; /* Adjust the radius as needed */
  padding-top: 5%;
}

.box {
  border-color: #141d2a;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 20px;
}

/* Define styles for the custom button */
.custom-button {
  background-color: #d9d9d9; /* Button background color */
  color: #cb0001; /* Button text color */
  padding: 3px; /* Button padding */
  font-size: 13px;
  border: none; /* Remove button border */
  border-radius: 5px; /* Add rounded corners */
  cursor: pointer; /* Change cursor to a pointer on hover */
  transition: background-color 0.3s ease; /* Smooth color transition on hover */
}

/* Style the button on hover */
.custom-button:hover {
  color: white;
  background-color: #cb0001; /* New background color on hover */
}

.cardthings {
  margin-bottom: 10px; /* Add space between cards */
  /* margin-left: 30px; */
  padding: 10px; /* Add space inside the card */
  width: 200px;
  max-height: auto;
  border-color: transparent;
  font-family: Lato, sans-serif;
  border-radius: 4%;
  background-color: #141d2a;
}

.card-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
  gap: 2px;
}

.custom-card-tgl {
  font-family: sans-serif;
  font-size: 14px;
  border-top-right-radius: 30px; /* Mengatur radius card */
  border-top-left-radius: 25px;
  border-bottom-right-radius: 30px;
  margin-left: -10px;
  margin-bottom: 10px;
  margin-top: 8px;
  width: 9rem;
}

.custom-card-image {
  border-radius: 10px;
  width: 180px;
}

a {
  text-decoration: none; /* Menghapus garis bawah pada tautan */
  color: inherit; /* Menggunakan warna teks default (warisan) */
}

a:hover {
  color: inherit; /* Anda dapat menggunakan warna yang sesuai dengan desain Anda */
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}

.section-three {
  background-color: #121820;
  border-top-left-radius: 100px; /* Adjust the radius as needed */
  border-top-right-radius: 100px; /* Adjust the radius as needed */
}

.section-two {
  background-color: #0b1119;
  border-top-left-radius: 100px; /* Adjust the radius as needed */
  border-top-right-radius: 100px; /* Adjust the radius as needed */
  padding-top: 5%;
}

.section-three .cardthings:hover {
  box-shadow: none; /* Remove the shadow effect for cards in Section 3 */
  transition: none;
}

.section-two .cardthings:hover {
  box-shadow: none; /* Remove the shadow effect for cards in Section 3 */
  transition: none;
}

.custom-button {
  border-radius: 20px;
  padding-left: 15%;
  padding-right: 15%;
}

.container-fluid {
  padding-left: 10%; /* Adjust the left padding as needed */
  padding-right: 10%; /* Adjust the right padding as needed */
  padding-bottom: 5%;
  justify-content: center;
}

.container-custom:first-child {
  padding-top: 60px;
  padding-bottom: 130px;
}

.container-custom:last-child {
  margin-top: -100px;
}



.prev-button {
  left: 0;
}
.next-button {
  right: 0;
}

@media (max-width: 768px) {

  .cardthings-container {
    gap: 10px;
  }
}

@media (max-width: 576px) {
  .cardthings-container {
    gap: 10px;
  }

  .cardthings {
    margin-left: 15%;
  }
}

@media (max-width: 1200px) {
  .cardthings-container {
    gap: 30px;
  }
}

@media (max-width: 1000px) {
  .cardthings-container {
    gap: 40px;
  }
}
