.custom-primary-bg {
  background-color: #a52f76;
}

.box {
  border-color: #141d2a;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 20px;
}
 
/* Define styles for the custom button */
.custom-button {
  background-color: #d9d9d9; /* Button background color */
  color: #cb0001; /* Button text color */
  padding: 3px; /* Button padding */
  font-size: 13px;
  border: none; /* Remove button border */
  border-radius: 5px; /* Add rounded corners */
  cursor: pointer; /* Change cursor to a pointer on hover */
  transition: background-color 0.3s ease; /* Smooth color transition on hover */
}

/* Style the button on hover */
.custom-button:hover {
  color: white;
  background-color: #cb0001; /* New background color on hover */
}

.section-three {
  background-color: #121820;
  border-top-left-radius: 100px; /* Adjust the radius as needed */
  border-top-right-radius: 100px; /* Adjust the radius as needed */
}

.section-two {
  background-color: #F19E4A;
  border-top-left-radius: 100px; /* Adjust the radius as needed */
  border-top-right-radius: 100px; /* Adjust the radius as needed */
  padding-top: 5%;
}

.section-three .card:hover {
  box-shadow: none; /* Remove the shadow effect for cards in Section 3 */
  transition: none;
}

.section-two .card:hover {
  box-shadow: none; /* Remove the shadow effect for cards in Section 3 */
  transition: none;
}

.custom-button {
  border-radius: 20px;
  padding-left: 15%;
  padding-right: 15%;
}

.container-fluid {
  padding-left: 10%; /* Adjust the left padding as needed */
  padding-right: 10%; /* Adjust the right padding as needed */
  padding-bottom: 5%;
  justify-content: center;
}

.container-custom:first-child {
  padding-top: 60px;
  padding-bottom: 130px;
}

.container-custom:last-child {
  margin-top: -100px;
}



.slider-container {
  position: relative;
  width: 570px;
  overflow: hidden;
}
.slider {
  display: flex;
  /* position: relative;
    width: 100%;
    white-space: nowrap;
    transition: transform 0.5s ease-in-out;
    animation: slideAnimation 5s linear infinite; */
  /* gap: 80px; */
}
.slider img {
  /* width: 100%; */
  height: auto;
  /* gap: 20px; */
}
.slider-button:hover {
  color: white;
  background-color: #cb0001;
  padding-right: 7px;
  padding-left: 7px;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.slider-button {
  color: #cb0001;
  background-color: white;
  padding-right: 7px;
  padding-left: 7px;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.prev-button {
  left: 0;
}
.next-button {
  right: 0;
}

@media (max-width: 768px) {


  .card-container {
    gap: 10px;
  }
}

@media (max-width: 576px) {
  .card-container {
    gap: 10px;
  }

}

@media (max-width: 1200px) {
  .card-container {
    gap: 30px;
  }
}

@media (max-width: 1000px) {
  .card-container {
    gap: 40px;
  }
}

.slider .slide-img:hover {
  opacity: 0.8; /* Ubah opacity gambar saat di-hover */
  cursor: pointer; /* Ubah ikon kursor saat di-hover */
  transition: opacity 0.3s ease-in-out; /* Animasi perubahan opacity */
}

#mapCanvas1 {
  height: 500px;
  width: 500px;
  margin-left: 10px;
  padding: 0px;
  border-radius: 20px;
}

#mapCanvas2 {
  height: 500px;
  width: 500px;
  margin-left: 10px;
  padding: 0px;
  border-radius: 20px;
}

#mapCanvas3 {
  height: 500px;
  width: 500px;
  margin-left: 10px;
  padding: 0px;
  border-radius: 20px;
}

#mapCanvas4 {
  height: 500px;
  width: 500px;
  margin-left: 10px;
  padding: 0px;
  border-radius: 20px;
}

#mapCanvas5 {
  height: 500px;
  width: 500px;
  margin-left: 10px;
  padding: 0px;
  border-radius: 20px;
}

#mapCanvas6 {
  height: 500px;
  width: 500px;
  margin-left: 10px;
  padding: 0px;
  border-radius: 20px;
}

#mapCanvas7 {
  height: 500px;
  width: 500px;
  margin-left: 10px;
  padding: 0px;
  border-radius: 20px;
}

#mapCanvas8 {
  height: 500px;
  width: 500px;
  margin-left: 10px;
  padding: 0px;
  border-radius: 20px;
}

#mapCanvas9 {
  height: 500px;
  width: 500px;
  margin-left: 10px;
  padding: 0px;
  border-radius: 20px;
}
